/ebiobanques/protected/runtime/application.log
/ebiobanques/assets/f9bf41b/
/ebiobanques/assets/
/scripts/script_rebuild_prod_de1185_via_ssh_rsync.sh
/vendor/
/composer.lock
/ebiobanques/CommonProperties_IntegrationJenkins.php
/build/
/ebiobanques/.htaccess
/ebiobanques/yii-1.1.15/
/ebiobanques/protected/extensions/YiiMongoDbSuite_old/
/ebiobanques/protected/runtime/
/ebiobanques/CommonPropertiesProd.php
/tests_selenium/results_visite_sans_connexion.html
/tests_selenium/results_administration.html
/tests_selenium/results_manager_biobanque.html
/tests_selenium/selenium_adm.log
/tests_selenium/selenium_vsc.log
/tests_selenium/selenium_mbb.log
/ebiobanques/protected/commands/DiversTestCommand.php
/ebiobanques/protected/commands/SwitchIdsCommand.php
/tests_selenium/run_partial.sh
/tests_selenium/results_simple_user.html
/notes_biocap
/ebiobanques/protected/commands/testbbcpCommand.php
/ebiobanques/CommonProperties.php
/nbproject/private/
/ebiobanques/protected/vendors/composer.lock
/ebiobanques/protected/tests/report/