body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background-image:url('../images/picture_dna.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height : 768px;
}
#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #C9E0ED;
    opacity:0.95;
    filter:alpha(opacity=95); /* For IE8 and earlier */
    height:768px;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu
{
    background:#C96CB6;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
    margin-left:2px;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#FFFAE8;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #D788F1;
    border-left: 5px solid #4D3056;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: white;
    background: #D788F1;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

.faq{
    margin-top: 10px;
}

.image-main-menu{
    margin: 0px 5px 0px 0px;
    max-width:30px;
    height:30px;
}
/* Custom help block*/
.help{
  
    padding: 5px;
    border: 1px;
    border-color: blueviolet;
    border-style: solid;
    background-color: #D8E4F1;

}

.help>.help-title{
    display: block;
    margin-left: 5px;
    font-weight: bold;

}

.help>.help-title img{

    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
}


.help>.help-content{
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    text-align: justify;

}
.help>.help-content>p,.help>.help-content>ul{
    margin-bottom: 0.5em;
}

.columnValues{
    width: 20%;
}
.columnDescription{
    width: 60%;
}

.left_menu_container{
    display:block;
    background-color: white;
     padding-top:10px;
     vertical-align: top;
}

.left_menu_container>.menu{
    display:inline-block;
    width:200px;
    vertical-align: inherit;
    padding-left:5px;
    padding-right:5px;
   
}
.left_menu_container>.content{
    display:inline-block;
   vertical-align: inherit;
max-width: 725px;
width: 100%

}
/*.columnName{
    width: 20%;
}*/

#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        left : 50%;
        margin-top : 0;
        width : 430px;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #46f;
    
}

#onglets a
{
    display : block;
    color : #222;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #22d;
    color : #eee;
}
#onglets a.active
{
 
    color : #eee;
}

#menu
{
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 25px;
}

.logoHeader{
   text-align: justify;  
}

.logoHeader>h1, .logoHeader>.logo{
    display: inline-block ;vertical-align:top;
}

.logoHeader:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}